/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap');
/* common style  */

body {
    background-color: #FFFFFF;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; */
}

/* header part nav  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #000;
    margin-right: 34px;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
}

.logo-name h3 {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* top part */
.container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 100px;
}

.containe-top-left {
    width: 582px;
    height: 270px;
}

.containe-top-left h1,
p,
button {
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 52px;
}

.containe-top-left p {
    font-weight: 600;
    font-size: 16px;
}

.containe-top-left button {
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 41px;
    border: none;
    padding: 10px;
}

.containe-top-right img {
    width: 75%;
}

.container-bottom-logo {}